/* universal selector -> to do something with all boxes */
/* user agent stylesheet -> browser styling (provided by browser) */

/* REMOVING EXTRA MARGIN GIVEN BY BROWSER   */
body{ 
    /* /* border : 2px solid red; */
    margin : 0px; 
    font-family: sans-serif;
}

.header-container{
    /* border : 1px solid black; */
    height : 7.2rem;
    background-color : #333;
    /* color : white; */
    display : flex;
    align-items : center;
    padding-left: 3rem;
}

/* common styling */
.header-container>*{
    background-color : #454444;
    height : 65%;
    border-radius: 6px;
}

.color-group_container {
    /*  % ->relative unit which derived it's value from the parent */
    width:30%;
    margin-right : 3rem;
    display : flex;
    justify-content: space-evenly;
    align-items: center;
}

.color{
    height : 50%;
    width : 16%;
    border-radius : 6px;
}

.pink{
    background-color : lightpink;
}
.blue{
    background-color : lightblue;
}
.green{
    background-color : lightgreen;
}
.black{
    background-color : black;
}
/*--------- add cross container------- */
.add-cross_container {
    width : 10%;
    display : flex;
    justify-content: space-between;
    align-items: center;
    
}
.add-cross_container >*{
    width : 50%;
    height : 100%;
    /* background-color : red; */
    /* boldness */
    /* font-weight : lighter; */
    font-size : 10rem;
    /* perfectly center an element inside a div */
    display : flex;
    justify-content: center;
    align-items: center;

    
}
/* 
 .plus_container {
     background-color :yellow;
} */

/* icons are treated as text */
.fa-plus,.fa-times {
    font-size: 2.5rem;
    font-weight: 500;
}

.task_input {
    margin-left : 4rem;
    color : white;
    /* font-size: 100%; */
    font-size: 25px;
}
/* ---------------------------------Main container--------------------------------- */
.main-container{
    /* border : 1px solid green; */
    /* vw => 100% width of the visible screen(maximize or minimizev  ) -> 100vw */
    /* vh => 100% height of the visible screen -> 100vh */

    /* //below statement -> calc => adjust according to size of window */
    height : calc(100vh - 7.2rem);
    /* height : 100vh; */
    /* height : 90rem; */

    background-color :#f2f2f2;;
    display : flex;
    justify-content : space-evenly;
    align-items : center;
    flex-wrap: wrap;
    padding : 4rem;

}

.task_container {
    /* padding : 0.5rem; */
    background-color  : yellow;
    height : 12rem; 
    width : 19rem;
    border-radius: 15px;
} 
.task_header {
    /* background-color: black; */
    height : 0.7rem;
}

.task_main-container {
    padding : 0.2rem;
    padding-top: 0.2rem;
}

.task_id {
    font-size : 1.7rem;
    color : rgb(150,144,144);
    /* top, bottom, right, left */
    margin : 0.5rem;
    margin-left : 0px;
} 

.text {
    font-size : 1.5rem;
}
